.metadata/*
.12_Inch_Fab_Rev_B_Release
.12_Inch_Fab_Rev_B_Debug/

.15_Inch_Fab_Rev_A_Release
.15_Inch_Fab_Rev_A_Debug

.18_Inch_Fab_Rev_A_Release
.18_Inch_Fab_Rev_A_Debug

*/Middlewares/ST/*
*/Middlewares/Third_Party/*
*/Drivers/STM32F7xx_HAL_Driver/*
*.launch
~*
*.zip
*Debug.cfg
*.bak
*.ioc
/12_Inch_Fab_Rev*
/15_Inch_Fab_Rev*
/18_Inch_Fab_Rev*
/Debug
/Release
/.debug
/.releae

Rev_2_Debug_12_Inch
Rev_2_Release_12_Inch
Rev_A_Debug_12_Inch
Rev_A_Debug_15_Inch
Rev_A_Debug_18_Inch
Rev_A_Release_12_Inch
Rev_A_Release_15_Inch
Rev_A_Release_18_Inch
/Debug
/Release_15_Inch/
/Release_18_Inch/
/Debug_15_Inch/
/Debug_18_Inch/
/12_Inch_Rev_A_Debug/
/12_Inch_Rev_B_Debug/
/12_Inch_Rev_A_Release/
/12_Inch_Rev_2_Release/
/12_Inch_Fab_Rev_A_Debug/
/18_Inch_Debug/
/12_Inch_Rev_B_Release/
/18_Inch_Rev_A_Release/
/15_Inch_Rev_1_Debug/
/15_Inch_Rev_A_Release/
/12_Inch_Rev_2_Debug/
/15_Inch_Rev_A_Debug/
/18_Inch_Release/
/15_Inch_Debug/
/18_Inch_Rev_A_Debug/
/15_Inch_Release/
/15_Inch_Rev_1_Release/
/18_Inch_Rev_1_Release/
/18_Inch_Rev_1_Debug/
/Frisco_Controller_Test/
/12_Inch_Fab_Rev_2_Release/
/12_Inch_Fab_Rev_A_Release/
/12_Inch_Fab_Rev_B_Release/
/15_Inch_Fab_Rev_1_Release/
/15_Inch_Fab_Rev_A_Release/
/18_Inch_Fab_Rev_1_Release/
/18_Inch_Fab_Rev_A_Release/
/12_Inch_Fab_Rev_B_Debug/
/15_Inch_Fab_Rev_A_Debug/
/15_Inch_Fab_Rev_1_Debug/
/18_Inch_Fab_Rev_A_Debug/
/18_Inch_Fab_Rev_1_Debug/
/12_Inch_Fab_Rev_2_Debug/
/Build

